<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
<style>
    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
    :root{
        --accent-color: #325c87;
        --body-background: #fafeff;
        --base-font-family: Pretendard, 'IBM Plex Sans KR', sans-serif;
    }
    .site-name{
        --site-name-font-family: 'Jua', sans-serif;
        --accent-color: #325c87;
        font-family: var(--site-name-font-family);
        font-size: 2.2rem !important;
    }
</style>

<!--<style>-->
<!--    /*Overwrite CSS variable*/-->
<!--    :root {-->
<!--        &#45;&#45;article-font-family: "Merriweather", var(&#45;&#45;base-font-family);-->
<!--    }-->
<!--</style>-->

<!--<script>-->
<!--    (function () {-->
<!--        const customFont = document.createElement('link');-->
<!--        customFont.href = "https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap";-->

<!--        customFont.type = "text/css";-->
<!--        customFont.rel = "stylesheet";-->

<!--        document.head.appendChild(customFont);-->
<!--    }());-->
<!--</script>-->